@{
    ViewData["Title"] = "Blank Page";
}

<div class="text-center">
    <h1 class="display-4">A statement for myself</h1>
    <p>It all started 15 years ago, or was it 17 years, to be honest I'm no longer sure.
        I started my adventures and love for software development with some HTML and CSS, quickly moved onto mIRC scripts building bots and automations, sometime later I picked up Ruby as I was using a game engine that supported that for customizing the engine.</p>
    <p>Those first few years eventually led me to take a shortcut into being a developer, not going the normal route in highschool but going for a software development variant instead, and then unto university where my love for software development and architecture really got cemented.</p>
    <p>These years I wasn't professional and may not really count, as I was just experimenting, but those were the years that made me decide that creating software would be my future.</p>
    <br />
    <p class="text-bold">It was love at first sight really, but the flame has faded.</p>
    <br />
    <p>Going professional slowly but surely killed my love for anything software related, I always had a personal project on the side but that stopped, I blame the lack of time but I know that's an easy excuse, I just don't love software development enough anymore.</p>
    <p>So this is my attempt at ending that, getting the flame back alive.. I will force myself to learn new things, and I will share that process with the world. Hopefully this will create an habit and will help me get the passion back. And because sometime ago I read that a good way to form an habit is to make a financial commitment to it, I bought this domain and intend to use it to build a website that will be the result of everything I learn.</p>
</div>
