@{
    ViewData["Title"] = "Silvestre";
    ViewData["Subtitle"] = "Welcome";
}

<div class="py-6 flex flex-col justify-center sm:py-12">
  <div class="relative border-gray-200 shadow-xl border-2 bg-gray-300 bg-opacity-30 p-3 sm:max-w-xl sm:mx-auto rounded-xl flex lg:flex-row divide-black divide-y-0 divide-x-0 lg:divide-x-2 lg:divide-y-0 sm:flex-col sm:divide-x-0 sm:divide-y-2">
    <div class="flex-initial lg:pr-4 lg:pb-0 sm:pr-0 sm:pb-4">
      <img class="rounded-full mx-auto border-8 border-cyan-400 ring-4 ring-cyan-200 p-1 w-72 h-72" src="https://www.gravatar.com/avatar/068ae54a95f5da1ef6f850d30895b8cb?s=400" />
      <h1 class="font-extrabold text-center font-sans mt-2">Hi, I'm João Silvestre</h1>
      <h2 class="font-bold">This is an aggregator for every tool or project I've worked on, and decided to make available to the world.</h2>
      <span>Source for every project is (and will be) available on my GitHub and I plan to eventually launch a blog so I can talk about the stuff I work on, one day eventually.</span>
    </div>
    <div class="flex-auto w-3/4 lg:pl-4 lg:pt-0 sm:pl-0 sm:pt-4">
      <div>
        <h1 class="font-extrabold">About</h1>
        <div>Name: João Silvestre</div>
        <div>Age: 30</div>
        <div>From: Lisbon, Portugal</div>
      </div>
      <div>
        <h1 class="font-extrabold">Socials</h1>
        <ul>
          <li><a class="border-b-2 border-black" href="https://github.com/paletas">GitHub</a></li>
          <li><a class="border-b-2 border-black" href="https://www.linkedin.com/in/joaosilvestre">LinkedIn</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
