@page "/{postUri}"
@using Silvestre.App.Blog.Web.Blog;
@using Silvestre.App.Blog.Web.Core;

@model Silvestre.App.Blog.Web.Pages.BlogPostModel

@{
    ViewBag.Title = this.Model.Post.Title;
    ViewBag.Meta = new PageMeta
            {
                Description = this.Model.Post.Description ?? this.Model.Post.Summary,
                Summary = this.Model.Post.Summary,
                Tags = this.Model.Post.Tags,
            };
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"><a href="/category/@this.Model.Post.Category.Uri">@this.Model.Post.Category.Title</a></li>
        <li class="breadcrumb-item active" aria-current="page">@this.Model.Post.Title</li>
    </ol>
</nav>

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-8">
            <vc:blog-post-reader post="this.Model.Post" base-uri="this.HttpContext.BaseUri"></vc:blog-post-reader>
        </div>

        <div class="col-12 col-lg-4 mt-4 mt-lg-0">
            <h2>Categories</h2>

            <ul class="list-group">
                @foreach (BlogCategory category in this.Model.Categories)
                {
                    <li class="list-group-item border-0">
                        <a href="/category/@category.Uri">@category.Title</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>