@page
@using Silvestre.App.Blog.Web.Blog;
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
}

<div class="row">
    <div class="col-12 col-lg-8">
        <h1>Latest Posts</h1>
        <ul class="list-group">
            @foreach (BlogPost post in this.Model.LatestPosts.OrderByDescending(p => p.CreatedAt))
            {
                <li class="list-group-item list-group-item-action bg-body-tertiary">
                    <vc:blog-post-reader post="post" show-summary="true"></vc:blog-post-reader>
                </li>
            }
        </ul>
    </div>
    <div class="col-12 col-lg-4 mt-4 mt-lg-0">
        <h2>Categories</h2>
        <ul class="list-group list-group-horizontal-lg">
            @foreach (BlogCategory category in this.Model.Categories)
            {
                <li class="list-group-item border-0">
                    <a href="/category/@category.Uri">@category.Title</a>
                </li>
            }
        </ul>
    </div>
</div>